@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */
/* header styles */
.header{
    font-family: "Azeret Mono", monospace;
    background-image: url('../assets/Hero-bg.png');
    width: 100%;
    height: 652px;
    background-repeat: repeat-x;
    bottom: 4462px;
    top: 131px;
    text-align: center;
}
.title{
    font-weight: 800;
    font-size: 48px;
    line-height: 68px;
    letter-spacing: 0%;
    color: rgb(13, 19, 33);
}
.description-one{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    text-align: center;
}
.btn-one{
    border-radius: 8px;
    margin: 32px 0px;
    padding: 21px 24px 21px 24px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
}
/* main styles */
.main-o{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
/* main-one styles */
.main{
    align-items: center;
    padding: 50px;  
    margin: 0px 10px;
    display: flex;
flex-direction: column;
justify-content: center;
}
.title-two{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.description-two{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
/* main-two styles */
.main-two{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 52px;
    margin: 32px 0px;
    background-color: white;
}
.title-three{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.description-three{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
/* main-three styles */
.main-three{
    display: flex;
justify-content: flex-start;
align-items: center;
padding: 52px;
margin: 32px 0px;
background-color: white;
}
.title-four{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.description-four{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.learn-more{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
font-size: 20px;
font-weight: 600;
text-align: center;
letter-spacing: 0%;
color: rgb(13, 19, 33);
}
/* main-four styles */
.main-four{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px;
    margin: 32px 0px;
    background-color: white;
}
/* inspiration-part */
.title-five{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
/* video styles */
.video{
    border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
box-sizing: border-box;
margin: auto;
display: block;
}